__pycache__/
.vscode
.history

# Dataset files
data
data_using_pretrained_model
data_semantic
data_semantic.old
# Pretrain models and logs
logs
logs_new
checkpoints
model_zoo
# !logs/tfr_Balloon2_H270_DyNeRF_pretrain/Pretrained_S.tar
phoenix-slurm*
batchscript*

*.zip
*.tar.gz
*.pth
*.pt
*.png
*.jpg
*.jpeg

*.gif

*.pth
!train/results/*.png
# !checkpoints/slowonly_imagenet_pretrained_r50_8x8x1_150e_kinetics400_rgb_20200912-3f9ce182.pth

test/*
run_sh/*.out